{@com.yaz.api.domain.response.DebtTableItem item}

<li id="{item.cardId}"
    class="fade-me-out fade-me-in"
{#if item.outOfBoundsUpdate}
    hx-swap-oob="true"
        {/if}>

    <a class="debts-grid base-grid-cm p-1"
       @click.prevent="
    key = '{item.key}'
    open_form = true;
    apartment = '{item.item.aptNumber} {item.item.aptName}'
    receipts = '{item.item.receipts}'
    amount = '{item.item.amount}'
    months_selected = [
      {#each item.item.months}
        {it},
      {/each}
    ]
    previousPaymentAmount = '{item.item.previousPaymentAmount}'
    previousPaymentAmountCurrency = '{item.item.previousPaymentAmountCurrency}'
    is_edit = true;
    $dispatch('event-debt-form-clean-errors');
    "
    >

        <div class="flex"><span>{item.item.aptNumber} {item.item.aptName}</span></div>
        <div><span>{item.item.receipts}</span></div>
        <div class="flex justify-end"><span class="text-end">{item.formatAmount}</span></div>
        <span class="text-wrap" script="init call monthsToStr({item.item.months}) then put it into my.innerHTML"></span>
        <div>{item.item.formatPreviousPaymentAmount}</div>

    </a>
</li>