{@com.yaz.api.domain.response.DebtTableItem item}

<div class="debts-grid base-grid-cm hover:alert-info p-1 fade-me-out fade-me-in"
     id="{item.cardId}"
        {#if item.outOfBoundsUpdate}
            hx-swap-oob="true"
        {/if}
     @click.prevent="
    key = '{item.key}'
    open_form = true;
    apartment = '{item.item.aptNumber} {item.item.aptName}'
    receipts = '{item.item.receipts}'
    amount = '{item.item.amount}'
    months_selected = [
      {#each item.item.months}
        {it},
      {/each}
    ]
    previousPaymentAmount = '{item.item.previousPaymentAmount}'
    previousPaymentAmountCurrency = '{item.item.previousPaymentAmountCurrency}'
    is_edit = true;
    $dispatch('event-debt-form-clean-errors');
    "
>

    <div class="flex"><span>{item.item.aptNumber} {item.item.aptName}</span></div>
    <div><span>{item.item.receipts}</span></div>
    <div class="flex justify-end"><span class="text-end">{item.formatAmount}</span></div>
    <span class="text-wrap" script="init call monthsToStr({item.item.months}) then put it into my.innerHTML"></span>
    <div>{item.item.formatPreviousPaymentAmount}</div>

    {!<div class="flex flex-row gap-2 justify-center">!}
    {!<button class="btn btn-circle"!}
    {!hx-get="{item.editUrl}"!}
    {!hx-indicator=".htmx-indicator"!}
    {!hx-trigger="click"!}
    {!hx-swap="none">!}
    {!!}
    {!<img class="h-6 w-6" src="/assets/edit_icon.svg" alt="edit-debt">!}
    {!</button>!}
    {!</div>!}

</div>