{@com.yaz.api.domain.response.ReserveFundFormDto dto}

<form id="buildings-reserve-fund-form"
      class="min-w-1/4 flex flex-col gap-2"
      hx-swap="outerHTML"
      hx-indicator=".htmx-indicator"
        {#if dto.isEdit}
            hx-swap-oob="true"
            hx-patch="/api/reserve_funds"
        {#else}
            hx-post="/api/reserve_funds"
            {#if dto.clearForm}
                hx-swap-oob="true"
            {/if}
        {/if}


      data-te-validation-init
      script="
  {#if ! dto.isSuccess}
        init set @data-te-validated to 'true'
  {/if}
">
    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}"
           script="init set @data-te-validation-state to invalid"/>

    <input type="hidden" name="keys" value="{dto.key}">

    <cm-form-input
            id="reserveFundNameField"
            name="reserveFundName"
            maxlength="100"
            placeholder="Nombre"
            value="{dto.name}"
            input-error="{dto.nameFieldError}"
    >
    </cm-form-input>

    <cm-form-input
            id="reserveFundFundField"
            name="reserveFundFund"
            type="number"
            maxlength="10"
            step=".01"
            maxlength="100"
            placeholder="Fondo"
            value="{dto.fund}"
            input-error="{dto.fundFieldError}"
    >
    </cm-form-input>

    <cm-form-input
            id="reserveFundPayField"
            name="reserveFundPay"
            type="number"
            min="1"
            maxlength="10"
            step=".01"
            maxlength="100"
            placeholder="Monto/Porcentaje"
            value="{dto.pay}"
            input-error="{dto.payFieldError}"
    >
    </cm-form-input>

    <label class="form-control w-full">
        <div class="label">
            <span class="label-text">Tipo de Fondo</span>
        </div>
        <select class="select select-bordered" name="type">
            {#each GLO_RESERVE_FUND_TYPES}
                <option value="{it}"
                        {#if dto.type == it}
                            selected
                        {/if}
                >{it}</option>
            {/each}
        </select>
    </label>

    <cm-form-input
            class="pt-2"
            id="reserveFundExpenseField"
            name="reserveFundExpense"
            type="number"
            maxlength="10"
            step=".01"
            maxlength="100"
            placeholder="Gasto"
            value="{dto.expense}"
            input-error="{dto.expenseFieldError}"
    >
    </cm-form-input>

    <label class="form-control w-full">
        <div class="label">
            <span class="label-text">Tipo de Gasto</span>
        </div>
        <select class="select select-bordered" name="expenseType">
            {#each GLO_EXPENSE_TYPES}
                <option value="{it}"
                        {#if dto.expenseType == it}
                            selected
                        {/if}
                >{it}</option>
            {/each}
        </select>
    </label>

    <div class="flex flex-row">
        <label class="cursor-pointer label gap-4 w-full justify-center">
            <span class="label-text">Activo</span>
            <input name="reserveFundActive"
                   type="checkbox"
                    {#if dto.active}
                        checked="checked"
                    {/if}
                   value="true"
                   class="checkbox checkbox-primary"/>
        </label>

        <label class="cursor-pointer label gap-4 w-full justify-center">
            <span class="label-text">Añadir a gastos</span>
            <input name="addToExpenses"
                   type="checkbox"
                    {#if dto.addToExpenses}
                        checked="checked"
                    {/if}
                   value="true"
                   class="checkbox checkbox-primary"/>
        </label>
    </div>

    {#if dto.generalError}
        <span class="text-red-500 text-xs">{dto.generalError}</span>
    {/if}

    <div class="p-2 flex flex-row gap-4">
        <button class="btn btn-primary">
            {#if dto.isEdit}
                Editar
            {#else}
                Agregar
            {/if}
        </button>

        <button class="btn btn-neutral" type="button"
                hx-get="/api/reserve_funds/form/new/{dto.key}"
                hx-swap="none"
        >
            Limpiar
        </button>
        <img class="htmx-indicator white-filter" src="/assets/bars.svg" alt="spinner">
    </div>

</form>

{#if dto.tableItem}

    {#if dto.tableItem.addAfterEnd}
        <div id="reserve-fund-table-item-grid" hx-swap-oob="beforeend">
                {#include ReserveFundResource/item item = dto.tableItem /}
        </div>
    {#else}
            {#include ReserveFundResource/item item = dto.tableItem /}
    {/if}
{/if}

{#if dto.counters}
        {#include ReserveFundResource/counters dto = dto.counters /}
{/if}