{@com.yaz.resource.domain.response.ReserveFundTableItem item}

<div class="reserve-funds-grid hover:bg-[#00000014] p-2"
    id={item.cardId}
  {#if item.outOfBoundsUpdate}
      hx-swap-oob="true"
  {/if}
  >

  <div class="flex flex-col gap-2 items-center text-center">
  <span>{item.item.name}</span>
  <span>{item.item.fund}</span>
</div>

  <div class="flex flex-col gap-1 items-center text-center">
    <div>
  <span
      class="inline-block whitespace-nowrap rounded-full px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline font-bold leading-none text-sm
{item.item.active ? 'bg-success-100 text-success-700' : 'bg-danger-100 text-danger-700'}
">
    {item.item.pay}
      {#if item.item.type.name == 'PERCENTAGE'}
        %
      {/if}
  </span>
    </div>

    <div>
  <span
      class="inline-block whitespace-nowrap rounded-full px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline font-bold leading-none text-sm
{item.item.addToExpenses ? 'bg-success-100 text-success-700' : 'bg-danger-100 text-danger-700'}
">
    {item.item.expenseType}
  </span>
    </div>

  </div>

  <div class="flex flex-col gap-1 items-center text-center">
    <span>{item.item.expense}</span>
  </div>


<div class="flex flex-item gap-2 justify-center">
  <div class="block">
    <button class="edit-btn"
            hx-get="{item.editUrl}"
            hx-indicator=".htmx-indicator"
            hx-trigger="click"
            hx-swap="none">

      <img src="/assets/edit_icon.svg" alt="edit-reserve-fund">
    </button>
  </div>
  {#include fragments/delete-btn deleteUrl=item.deleteUrl cardIdRef=item.cardIdRef/}
  </div>

  </div>