{@com.yaz.resource.domain.response.OidcDbTokenTableResponse res}

{#include OidcDbTokenResource/counters totalCount=res.totalCount /}

{#for item in res.results}

    <div id="{item.cardId}"
    class="hover:bg-[#00000014] rounded-lg p-4 bg-neutral flex-wrap flex-item flex justify-between items-center gap-2">

  {#if item.token.user.picture}
      <img src="{item.token.user.picture}" alt="Avatar" class="w-10 h-10 rounded-full" referrerpolicy="no-referrer">
  {/if}

  <div class="tooltip tooltip-bottom"
       data-tip="{item.token.user.providerId}">
    <span>{item.token.user.provider}</span>
  </div>
  <div class="tooltip tooltip-bottom"
       data-tip="{item.token.user.id}">
    <span>{item.token.user.email}</span>
  </div>

  <span>{item.token.user.username}</span>

  <span>{item.token.id}</span>

  <span>Expira: {item.token.expiresIn.fromEpoch}</span>
  <span>Creado: {item.token.createdAt.formatDate}</span>
  {#if item.token.updatedAt}
  <span>Actualizado: {item.token.updatedAt.formatDate}</span>
  {/if}

{#include fragments/delete-btn deleteUrl=item.deleteUrl cardIdRef=item.cardIdRef/}
</div>

{/for}

{#include fragments/next-page.html url = res.nextPageUrl /}