{@com.yaz.api.domain.response.OidcDbTokenTableResponse res}

    {#include OidcDbTokenResource/counters totalCount = res.totalCount /}

{#for item in res.results}
    <div class="fade-me-out fade-me-in" id="{item.cardId}">
            <details>
            <summary>
                <div class="card bg-neutral text-neutral-content rounded-lg p-4 flex-wrap flex-row flex justify-between items-center gap-2">

                    {#if item.token.user.picture}
                        <img src="{item.token.user.picture}" alt="Avatar" class="w-10 h-10 rounded-full"
                             referrerpolicy="no-referrer">
                    {/if}

                    <div class="tooltip tooltip-bottom"
                         data-tip="{item.token.user.providerId}">
                        <span>{item.token.user.provider}</span>
                    </div>
                    <div class="tooltip tooltip-bottom"
                         data-tip="{item.token.user.id}">
                        <span>{item.token.user.email}</span>
                    </div>

                    <span>{item.token.user.username}</span>

                    <span>{item.token.id}</span>


                    <div class="flex flex-col gap-2">
                        <span>Creado: {item.token.createdAt.formatDate}</span>
                        <span>Expira: {item.token.expiresIn.fromEpoch}</span>
                        <span>{item.tokenDuration}</span>
                        {#if item.token.updatedAt}
                            <span hidden="hidden">Actualizado: {item.token.updatedAt.formatDate}</span>
                        {/if}
                    </div>

                        {#include fragments/delete-btn deleteUrl = item.deleteUrl cardIdRef = item.cardIdRef /}
                </div>
            </summary>
            <div class="flex flex-col gap-4 justify-center">
                <p class="text-sm">Id Token: {item.token.idToken}</p>
                <p class="text-sm">Access Token: {item.token.accessToken}</p>
                <p class="text-sm">Refresh Token: {item.token.refreshToken}</p>
            </div>
        </details>
    </div>

{/for}

    {#include fragments/next-page.html url = res.nextPageUrl /}