{@com.yaz.resource.domain.AptItem item}

<tr class="hover"
    id="{item.cardId}"
  hx-get="{item.itemUrl}"
    hx-trigger="update_apt"
    hx-swap="outerHTML"
>
  <td hx-get={item.editUrl}
          hx-swap=none
      hx-trigger="click">
    {item.apt.buildingId}</td>
  <td hx-get={item.editUrl}
          hx-swap=none
      hx-trigger="click">
    {item.apt.number}</td>
  <td hx-get={item.editUrl}
          hx-swap=none
      hx-trigger="click">
    {item.apt.name}</td>
  <td hx-get={item.editUrl}
          hx-swap=none
      hx-trigger="click">
    <div class="apt-emails">
      {#for email in item.apt.emails}
      <span>{email}</span>
      {/for}
    </div>
  </td>
  <td hx-get={item.editUrl}
          hx-swap=none
      hx-trigger="click">{item.apt.aliquot}</td>
  <td>
    <button class="delete-btn"
            hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'
            hx-delete={item.deleteUrl}
                hx-target={item.cardIdRef}
            hx-trigger="click"
            hx-swap="delete"
            script="on htmx:afterRequest send get_counters to #apartment-counters-container"
    >
      <img src="/assets/trash.svg" alt="delete-row">
    </button>
  </td>
</tr>