{@com.yaz.resource.domain.ApartmentFormDto dto}

<form class="apt-form"
      data-te-validation-init
      id="apartment-form"
{#if dto.isEdit}
      hx-patch="/api/apartments"
{#else}
      hx-post="/api/apartments"
{/if}
      hx-indicator=".htmx-indicator"
      hx-swap-oob="true"
      script="
      init call initComponents()
{#if dto.showForm}
     init remove .hidden from #apt-form-container
{/if}
{#if !dto.isNew && !dto.isSuccess}
      init set @data-te-validated to 'true'
{/if}
{#if dto.hideForm}
    init add .hidden to #apt-form-container
{#if !dto.item}
then send new_apt to #apt-search-input
{/if}
{/if}
"

>
  <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}"/>
  <div id="apt-form-inputs"
       class="flex flex-col gap-2">

 <div class=""
 script="init call disableBtnInsideForm()">
   {#if dto.generalFieldError}
   <span id="apartment-form-general-error" class='input-error error-message'>
   {dto.generalFieldError}
 </span>
   {/if}
 </div>

    <div class="py-2">
      <select
        id="apt-building-select"
          data-te-select-init
              name="buildingId"
              {#if dto.readOnlyBuilding}disabled{/if}
      >
              {#for option in dto.buildings}
                  <option
              {#if option is dto.buildingId}  selected="selected" {/if}
                                              value={option}>{option}</option>
              {/for}
      </select>
      <label data-te-select-label-ref for="apt-building-select">Edificio</label>
      {#if dto.buildingIdFieldError}
      <span class='input-error error-message'>{dto.buildingIdFieldError}</span>
      {/if}
    </div>

    <cm-form-input
        id="aptNumberField"
        name="number"
        value="{dto.number}"
        maxlength="20"
        placeholder="Nro. Apt"
      {#if dto.numberFieldError}
          input-error="{dto.numberFieldError}"
      {/if}
        {#if dto.readOnlyNumber}readonly{/if}
    >

    </cm-form-input>

      <cm-form-input
      id="nameField"
      name="name"
      value="{dto.name}"
      maxlength="200"
      placeholder="Nombre"
    {#if dto.nameFieldError}
        input-error="{dto.nameFieldError}"
    {/if}
      >
      </cm-form-input>

    <cm-form-input
        id="nameField"
        type="number"
        name="aliquot"
        value="{dto.aliquot}"
        placeholder="Alícuota"
        min="0"
        max="100"
        step=".01"
      {#if dto.aliquotFieldError}
          input-error="{dto.aliquotFieldError}"
      {/if}
    >

    </cm-form-input>

    <div class="w-full">
      <div class="email-form-label">
        <span class="font-bold label-text">Emails</span>
        <button type="button" class="btn btn-square btn-outline btn-secondary"
                hx-get="/apt_form_email.html"
                hx-target="next .emails-form-anchor"
                hx-swap="beforebegin">
          <img src="/assets/plus.svg" alt="add-email">
        </button>
      </div>

      {#for email in dto.emails}
      <div class="">
      <div class=" form-control email-form-label">
          <input class="input w-full input-bordered break-words" type="email" name="emails"
                 placeholder="Email" maxlength="320" value={email.value}>

      <button>
        <button type="button" script="on click remove closest <div/>"
                class="btn max-w-1/4 btn-square btn-outline btn-error">
          <img src="/assets/cross-svgrepo-com.svg" alt="remove-email">
        </button>
      </button>
    </div>
      {#if email.error}
      <span class='error-message email-error-msg  '>
      {email.error}
    </span>
      {/if}
    </div>
      {/for}


      <div class="emails-form-anchor" hidden="hidden"></div>

    </div>
  </div>
<div class="header">
<button id="apt-form-btn-submit" class="btn btn-primary">
{#if dto.isEdit}
  Editar
{#else}
  Crear
{/if}
</button>
  <img class="htmx-indicator" src="/assets/bars.svg" alt="spinner">
</div>
</form>

{#if dto.item}
{#include ApartmentsResource/grid_item item=dto.item /}
{/if}
