{@com.yaz.api.domain.AptItem item}

<div class="break-all hover:bg-[#00000014] apartment-grid-container base-grid-cm fade-me-out fade-me-in"
     id="{item.cardId}"
     hx-swap="outerHTML"

        {#if item.isUpdate}
            hx-swap-oob="true"
        {/if}
>
    <div class="apartment-grid-content p-1"
         @click.prevent="$dispatch('edit-apt', '{item.editAttr.format}')"
    >
        <div>{item.apt.buildingId}</div>
        <div>{item.apt.number}</div>
        <div>{item.apt.name}</div>
        <div class="flex flex-col gap-2 pt-1 pb-1 justify-center">
            {#for email in item.apt.emails}
                <span>{email}</span>
            {/for}
        </div>
        <div>{item.apt.aliquot}</div>

    </div>
    <div class="block">
        <button class="btn-sm btn btn-circle btn-outline btn-error"
                hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'
                hx-delete="{item.deleteUrl}"
                hx-target="{item.cardIdRef}"
                hx-vals="js:\{building: document.querySelector('#buildings-selector select').value, q: document.querySelector('#apt-search-input').value\}"
                hx-indicator=".htmx-indicator"
                hx-disabled-elt="this"
                hx-trigger="click"
                hx-swap="delete swap:300ms">
            <div hx-get="/assets/delete-cross.svg"
                 hx-trigger="load"
                 hx-target="this"
                 hx-swap="outerHTML">

            </div>
        </button>
    </div>
</div>
