{@com.yaz.api.domain.AptItem item}

<div class="break-all hover:bg-[#00000014] apartment-grid-container base-grid-cm fade-me-out fade-me-in"
     id="{item.cardId}"
     hx-swap="outerHTML"

        {#if item.isUpdate}
            hx-swap-oob="true"
        {/if}
>
    <div class="apartment-grid-content p-1"
         @dblclick.prevent="$dispatch('event-edit-apt-modal', '{item.editAttr.format}')"
    >
        <div>{item.apt.buildingId}</div>
        <div>{item.apt.number}</div>
        <div>{item.apt.name}</div>
        <div class="flex flex-col gap-2 pt-1 pb-1 justify-center">
            {#for email in item.apt.emails}
                <span>{email}</span>
            {/for}
        </div>
        <div>{item.apt.aliquot}</div>

    </div>

    {#include fragments/delete-btn deleteUrl=item.deleteUrl cardIdRef=item.cardIdRef}
        {#extraAttributes}
            hx-include="[name='building_input'],[name='apt_search_input']"
        {/extraAttributes}
    {/include}

</div>
