{@com.yaz.api.domain.ApartmentInitDto dto}


{#include ApartmentsResource/grid res=dto.tableRes /}

<div id="buildings-selector" hx-swap-oob="true" class="p-2" hidden="hidden"
     script="init add .fade-me-in then wait 20 then toggle @hidden"
>
  <select name="building"
          hx-indicator=".htmx-indicator"
          hx-get="/api/apartments/grid"
          hx-include="[name='q']"
          hx-target="#apartment-rows"
          data-te-select-init multiple>
    {#include BuildingResource/selector.html list=dto.buildings /}
  </select>
  <label data-te-select-label-ref>Edificio</label>
</div>

{#include ApartmentsResource/form dto=dto.formDto /}