{@com.yaz.resource.domain.response.BuildingFormDto dto}

{#if dto.shouldRedirect}
<meta http-equiv="refresh" content="0; url=/buildings"/>
{#else}
<form class="form-control"
      hx-swap="outerHTML"
      data-te-validation-init
{#if dto.isEdit}
      hx-patch="/api/buildings/edit"
{#else}
      hx-post="/api/buildings/new"
{/if}
      hx-indicator=".htmx-indicator"


      script="
      init call initComponents()
      init call disableBtnInsideForm()
        {#if !dto.isNew && !dto.isSuccess}
      init set @data-te-validated to 'true'
{/if}
"
>

    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}"
           script="init set @data-te-validation-state to invalid"/>


{#if dto.generalFieldError}
<div>
<span class='input-error error-message'> {dto.generalFieldError}</span>
</div>
{/if}


  <div class="relative mb-3"
       data-te-input-wrapper-init
       data-te-validate="input"
    {#if dto.idFieldError}
        data-te-invalid-feedback="{dto.idFieldError}"
       data-te-validation-state="invalid"
    {/if}
  >
    <input
        type="text"
        class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-150 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
        id="formBuildingId"
        name="id"
        placeholder="ID"
        value="{dto.id}"
        maxlength="20"
        oninput="limitInputToMaxLength(this)"/>
    <label
        for="formBuildingId"
        class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-150 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
    >ID
    </label>
  </div>

  <div class="relative mb-3"
       data-te-input-wrapper-init
       data-te-validate="input"
    {#if dto.nameFieldError}
        data-te-invalid-feedback="{dto.nameFieldError}"
       data-te-validation-state="invalid"
    {/if}
  >
    <input
        type="text"
        class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-150 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
        id="formNameId"
        name="name"
        placeholder="Nombre"
        value="{dto.name}"
        maxlength="100"
        oninput="limitInputToMaxLength(this)"/>
    <label
        for="formNameId"
        class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-150 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
    >Nombre
    </label>
  </div>

  <div class="relative mb-3"
       data-te-input-wrapper-init
       data-te-validate="input"
    {#if dto.rifFieldError}
        data-te-invalid-feedback="{dto.rifFieldError}"
       data-te-validation-state="invalid"
    {/if}
  >
    <input
        type="text"
        class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-150 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
        id="formRifId"
        name="rif"
        placeholder="RIF"
        value="{dto.rif}"
        maxlength="100"
        oninput="limitInputToMaxLength(this)"/>
    <label
        for="formRifId"
        class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-150 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
    >RIF
    </label>
  </div>

<div class="content-center flex flex-row justify-center">
<label class="label">

  <span class="label-text">Moneda Principal</span>
<select class="select select-bordered w-full" name="mainCurrency">
    <option value="USD"
{#if dto.mainCurrency == 'USD'}
            selected
{/if}
>USD
</option>
  <option value="VED"
    {#if dto.mainCurrency == 'VED'}
          selected
    {/if}
  >VED
  </option>
</select>
</label>

  <label class="label  ">
    <span class="label-text">Moneda Deudas</span>
    <select class="select select-bordered w-full" name="debtCurrency">
      <option value="USD"
        {#if dto.debtCurrency == 'USD'}
              selected
        {/if}
      >USD
      </option>
      <option value="VED"
        {#if dto.debtCurrency == 'VED'}
              selected
        {/if}
      >VED
      </option>
    </select>
  </label>
</div>

<div class="flex flex-row gap-4 p-2">
<div class="flex flex-col center">
  <label class="center label label-text">Monedas a mostrar al pagar</label>
<div class="flex flex-row">
{#each GLO_CURRENCIES}
<div class="form-control">

<label class="label cursor-pointer">
<span class="label-text p-2">{it}</span>
  <input type="checkbox"
    {#if dto.currenciesToShowAmountToPay.contains(it)}
         checked="checked"
    {/if}
        value="{it}" name="currenciesToShowAmountToPay"
         class="checkbox checkbox-primary"/>
</label>
</div>
{/each}
</div>
</div>



<div class="flex flex-col center">
  <label class="cursor-pointer label flex flex-row  gap-4">
    <span class="label-text">Monto Fijo</span>
      <input name="fixedPay" type="checkbox"
    {#if dto.fixedPay}
             checked="checked"
    {/if}
             class="checkbox checkbox-primary"
             value="true"
             script="on click toggle @hidden on next <input/>"/>
        <input type="number" placeholder="Monto Fijo" name="fixedPayAmount" min="1"
               oninput="limitInputToMaxLength(this)"
               maxlength="10"
               step=".01" class="input input-bordered"
        value="{dto.fixedPayAmount}"
    {#if !dto.fixedPay}
               hidden
    {/if}
    >
    {#if dto.fixedPayAmountFieldError}
    <span class='input-error error-message'>
    {dto.fixedPayAmountFieldError}
  </span>
    {/if}
  </label>

<label class="cursor-pointer label flex flex-row  gap-4">
  <span class="label-text">Redondear Pagos</span>
    <input name="roundUpPayments" type="checkbox"
{#if dto.roundUpPayments}
           checked="checked"
{/if}
           value="true"
           class="checkbox checkbox-primary"/>
</label>
</div>
</div>

    <div class="relative mb-3"
         data-te-input-wrapper-init
         data-te-validate="input"
{#if dto.emailConfigFieldError}
    data-te-invalid-feedback="{dto.emailConfigFieldError}"
         data-te-validation-state="invalid"
{/if}
>
  <input
      type="text"
      class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-150 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
      id="formRifId"
      name="rif"
      placeholder="Configuracion email"
      value="{dto.emailConfig}"
      maxlength="100"
      oninput="limitInputToMaxLength(this)"/>
  <label
      for="formRifId"
      class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-150 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
  >Configuracion email
  </label>
</div>



<div class="header p-6">
<button id="apt-form-btn-submit" class="btn btn-primary">
{#if dto.isEdit}
  Editar
{#else}
  Crear
{/if}
</button>
  <img class="htmx-indicator" src="/assets/bars.svg" alt="spinner">
</div>
</form>
{/if}

