{@com.yaz.api.domain.response.BuildingReportResponse res}

<span id="buildings-total-counter" hx-swap-oob="true">Edificios: {res.totalCount}</span>

{#for item in res.results}
    <div id="{item.cardId}" class="hover:bg-[#00000014] gap-4 rounded-lg bg-neutral flex flex-row justify-between fade-me-out fade-me-in">
  <div script="on click call saveToLocalStorage('buildingId','{item.building.id}')"
       hx-get="/buildings/edit/{item.building.id}"
       hx-push-url="true"
       hx-trigger="click"
       class="flex-wrap flex-row flex justify-between gap-2 w-full items-center py-3 pl-3"
  >
    <span>ID: {item.building.id}</span>
    <span>Nombre: {item.building.name}</span>
    <span>RIF: {item.building.rif}</span>
    <span>Moneda Principal: {item.building.mainCurrency}</span>
    <span>Moneda Deuda: {item.building.debtCurrency}</span>
    <span>Monedas a mostrar {item.building.currenciesToShowAmountToPay}</span>
    {#if item.building.fixedPay}
    <span>Monto fijo: {item.building.fixedPayAmount}</span>
    {/if}

    <div>
  <span
      class="inline-block whitespace-nowrap rounded-full px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none
{item.building.roundUpPayments ? 'bg-success-100 text-success-700' : 'bg-danger-100 text-danger-700'}
">
    Redondear pagos
  </span>
    </div>

    <span>Apartmentos: {item.building.aptCount}</span>
    {#if item.building.configEmail}
    <span>Configuracion de email: {item.building.configEmail}</span>
    {/if}
    <span>Creado: {item.building.createdAt.formatDate}</span>
    {#if item.building.updatedAt}
    <span>Actualizado: {item.building.updatedAt.formatDate}</span>
    {/if}
  </div>

  <div class="flex justify-center items-center min-h-10 min-w-10 py-3 pr-3">
    <button class="delete-btn"
            hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'
            hx-delete={item.deleteUrl}
                hx-target={item.cardIdRef}
            hx-trigger="click"
            hx-swap="delete">
      <img src="/assets/trash.svg" alt="delete-item">
    </button>
  </div>
</div>
{/for}

{#include fragments/next-page.html url = res.nextPageUrl /}