{@com.yaz.api.domain.response.ReceiptEditFormInit res}

{#include ReceiptResource/form dto=res.receiptForm /}


<div class="p-2"></div>

<hr class="p-3 w-3/4 center">

<div class="text-center">Cargos Extra: <span id="extra-charges-form-counter">{res.extraCharges.size}</span></div>

<div class="flex flex-row flex-wrap gap-6 justify-center p-2">


    <div id="extra_charges_grid"
         hx-get="/api/extra_charges/receipts/{res.receiptForm.key}"
         hx-trigger="update_extra_charges"
         hx-indicator=".htmx-indicator"
         hx-swap="innerHTML">

            {#include ExtraChargeResource/grid extraCharges=res.extraCharges /}
    </div>
        {#include ExtraChargeResource/form dto=res.extraChargeFormDto /}

</div>
