{@com.yaz.api.domain.response.ReceiptInitDto dto}

<div id="buildings-selector" hx-swap-oob="true" class="p-2" hidden="hidden"
     script="init add .fade-me-in then wait 20 then toggle @hidden"
>
<select name="building_input"
        hx-indicator=".htmx-indicator"
        hx-get="/api/receipts"
        hx-include="[name='date_input'],[name='month_input']"
        hx-target="#receipt-grid"
        hx-swap="innerHTML"
        data-te-select-init multiple>
{#include BuildingResource/selector.html list=dto.buildings /}
</select>
  <label data-te-select-label-ref>Edificio</label>
</div>

{#include ReceiptResource/receipts res=dto.table /}

    <input id="file-input"
           hx-swap-oob="true"
           type="file"
           accept=".xlsx,.xls"
           class="file-input file-input-bordered w-full max-w-xs"
           name="file"
           hx-post="/api/receipts/file"
           hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'
           hx-encoding='multipart/form-data'
           hx-trigger="change"
           hx-swap="none"
           hx-indicator=".htmx-indicator"
/>