{@com.yaz.api.domain.response.ReceiptFileFormDto dto}

<div id="new-receipt-file-form-dialog" hx-swap-oob="afterbegin">

    <h3 x-init="$el.parentElement.parentElement.parentElement.showModal()">{dto.fileName}</h3>

    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}"/>
    <input type="hidden" name="data" value="{dto.data}"/>

    <label class="form-control">
        <div class="label">
            <span class="label-text">Edificio</span>
        </div>
        <select class="select select-bordered w-full" name="building">
            {#each dto.buildings}
                <option value="{it}"
                        {#if dto.buildingName && dto.buildingName == it}
                            selected
                        {/if}
                >{it}</option>
            {/each}
        </select>
    </label>

    <label class="form-control">
        <div class="label">
            <span class="label-text">Año</span>
        </div>
        <select class="select select-bordered w-full" name="year">
            {#each dto.years}
                <option value="{it}"
                        {#if dto.year == it}
                            selected
                        {/if}
                >{it}</option>
            {/each}
        </select>
    </label>

    <label class="form-control">
        <div class="label">
            <span class="label-text">Mes</span>
        </div>
        <select class="select select-bordered w-full" name="month">
            {#each GLO_MONTH_TYPES}
                <option value="{it.month}"
                        {#if dto.month && dto.month == it.month}
                            selected
                        {/if}
                >{it.name}</option>

            {/each}
        </select>
    </label>

    <label class="form-control">
        <div class="label">
            <span class="label-text">Fecha de recibo</span>
        </div>
        <input class="datepicker"
               type="date"
               name="date"
               placeholder="YYYY-MM-DD"
               value="{dto.date}"
               required>
    </label>

    <label class="form-control">
        <div class="label">
            <span class="label-text">Tasa de cambio</span>
        </div>
        <select class="select select-bordered w-full" name="rateInput">
                {#include RateResource/options res = dto.rates /}
        </select>
    </label>
</div>