{@com.yaz.api.domain.response.ReceiptPdfResponse res}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recibo de Pago PDF - {res.building} {res.month} {res.date}</title>
</head>
<body>

<div id="receipt-pdf-viewer-header" hx-swap-oob="true" class="flex flex-row gap-4 text-center items-center">
    <button class="btn btn-circle btn-outline"
            hx-get="/stc/receipts/"
            hx-swap="none"
            hx-trigger="click"
            hx-on:htmx:before-request="modifyUrl(this)">

        <svg data-src="/assets/left-arrow.svg" class="h-4 w-4"></svg>

    </button>
    <h1 class="font-bold">Recibo de Pago PDF &ndash; {res.building} {res.month} {res.date}</h1>
    <button class="btn btn-primary"
            hx-get="/api/receipts/zip_download/{res.zipPath}"
            hx-disabled-elt="this"
            hx-indicator=".htmx-indicator"
            hx-swap="none">
        Descargar zip
    </button>
</div>


<div id="receipt-pdfs" class="overflow-hidden"
        {#if res.outOfBounds}
            hx-swap-oob="true"
        {/if}
     x-init="
     selected = '{res.selectedTab}',
    tabs_pdf = [

     {#for tab_pdf in res.tabs}
        { number: '{tab_pdf.number}', name: '{tab_pdf.name}', path: '{tab_pdf.path}' },
      {/for}
    ]

    "
>

</div>


</body>
</html>