{@com.yaz.api.domain.response.ReceiptTableResponse res}

{#include ReceiptResource/counters dto=res.countersDto /}

{#for item in res.results}

    <div
    class="hover:bg-[#00000014] flex flex-row text-center items-center justify-between fade-me-out fade-me-in"

    id="{item.cardId}">


<div class="receipt-grid-container flex-grow flex-auto h-full p-2"
     hx-get="/stc/receipts/edit/"
     hx-trigger="dblclick"
     hx-on:htmx:before-request="saveResource('receipt', '{item.key}')">
  <span>{item.item.buildingId}</span>

  <div class="flex flex-row gap-2 justify-center">
    <span script="init call integerToMonth({item.item.month}) then put it into my.innerHTML"></span>
    <span>{item.item.year}</span>
  </div>

  <span>{item.item.date}</span>

  {#include ReceiptResource/sentInfo item = item /}

  {#if item.item.createdAt}
      <span>{item.item.createdAt.formatDate}</span>
  {/if}
</div>


  <div class="dropdown dropdown-left flex-grow-0">
    <label tabindex="0" class="btn btn-ghost btn-circle">
      <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6C12.5523 6 13 5.55228 13 5Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path
            d="M13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path
            d="M13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </label>
    <ul tabindex="0" class="menu menu-sm dropdown-content gap-2 mt-3 z-10 p-2 shadow bg-base-100 rounded-box w-52 border border-[1px]">
      <li>
        <a hx-delete="{item.deleteUrl}"
           hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'
           hx-include="[name='date_input'],[name='building_input'],[name='month_input']"
           hx-target="{item.cardIdRef}"
           hx-indicator=".htmx-indicator"
           hx-trigger="click"
           hx-swap="delete swap:300ms">
          <img class="h-6 w-6" src="/assets/trash.svg" alt="delete-item">
          Borrar
        </a>
      </li>
      <li>
        <a hx-get="/api/receipts/download_zip/{item.key}"
           hx-disabled-elt="this"
           hx-indicator=".htmx-indicator"
           hx-swap="none">
          <img src="/assets/pdf-logo.svg" style="width:25px;height:25px;" alt="download-zip-pdfs">
          Descargar zip
        </a>
      </li>
      <li>
        <a hx-get="/stc/receipts/pdfs/"
           hx-indicator=".htmx-indicator"
           hx-on:htmx:before-request="saveResource('receipt', '{item.key}')"
           hx-swap="none">
          <img src="/assets/pdf-logo.svg" style="width:25px;height:25px;" alt="download-zip-pdfs">
          Ver PDFs
        </a>
      </li>

      <li>
        <a @click.prevent="zip_dialog_receipt_key='{item.key}'; zip_dialog_building='{item.item.buildingId}';
        zip_dialog_year='{item.item.year}'; zip_dialog_month='{item.item.month.monthFromInt}'; zip_dialog_date='{item.item.date}';
        $dispatch('event-receipt-zip-dialog-open');
        " >
          <img src="/assets/send-mail.svg" style="width:25px;height:25px;" alt="download-zip-pdfs">
          Enviar ZIP
        </a>
      </li>
      <li>
          <a hx-post="/api/receipts/send/{item.key}"
           hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'
           hx-indicator=".htmx-indicator"
           hx-swap="none">
          <img src="/assets/send-mail.svg" style="width:25px;height:25px;" alt="send-receipt-now">
          Enviar recibos ahora
        </a>
      </li>
      <li>
          <a @click.prevent="send_dialog_receipt_key='{item.key}'; send_dialog_building='{item.item.buildingId}'; send_dialog_year='{item.item.year}';
          send_dialog_month='{item.item.month.monthFromInt}'; send_dialog_date='{item.item.date}';
          $dispatch('event-receipt-send-dialog-open')
          ">
          <img src="/assets/send-mail.svg" style="width:25px;height:25px;" alt="send-receipt">
          Enviar recibos
        </a>
      </li>
    </ul>
  </div>

</div>
{/for}

{#include fragments/next-page.html url = res.nextPageUrl}
    {#extraAttributes}
           hx-include="[name='date_input'],[name='building_input'],[name='month_input']"
    {/extraAttributes}
{/include}

