{@com.yaz.api.domain.response.ReceiptSendDialogDto dto}

<dialog id="dialog-cm" hx-swap-oob="true"
        class="z-30 form-container rounded border-2 border-gray-400 bg-base-100 m-0 top-1/2 left-1/2 p-2 max-h-9/10"
        open>
    <div id="receipt-dialog-content" class="p-2">

        <form class="items-center text-center"
              hx-post="/api/receipts/send_receipt"
              hx-indicator=".htmx-indicator">

            <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}"/>
            <input type="hidden" name="key" value="{dto.key}"/>

            <div class="flex flex-col gap-2 font-bold pb-2">
                <div>
                    {dto.buildingId}
                </div>

                <div class="flex flex-row gap-2 justify-center">
                    <span>{dto.year}</span>
                    <span>{dto.month}</span>
                    <span>{dto.date}</span>
                </div>
            </div>

            <cm-form-input
                    class=""
                    id="subject"
                    name="subject"
                    maxlength="100"
                    placeholder="Sujeto"
                    value="AVISO DE COBRO"
            >

            </cm-form-input>

            <label class="form-control">
                <div class="label">
                    <span class="label-text">Mensaje</span>
                </div>
                <textarea class="textarea textarea-bordered" name="msg" autocomplete="on">AVISO DE COBRO</textarea>
            </label>

            <div class="grid apt-receipt-dialog-grid gap-2 p-2 pt-4 text-sm">

                {#for apt in dto.apartments}
                    <div>{apt.number}</div>
                    <div>{apt.name}</div>
                    <div>
                        <input type="checkbox" checked="checked" class="checkbox" name="apts"
                               value="{apt.number}"/>
                    </div>

                {/for}

            </div>

            <div class="p-2 flex flex-row gap-4">
                <button type="submit" class="btn btn-primary">
                    Enviar
                </button>
                <button type="button" class="btn btn-secondary"
                        script="
                        on click call #dialog-cm.close()
                        on click remove #receipt-dialog-content"
                >Cancelar
                </button>
                <img class="htmx-indicator white-filter" src="/assets/bars.svg" alt="spinner">
            </div>

        </form>
    </div>
</dialog>