<div class="block">
    <button class="btn-sm btn btn-circle btn-outline btn-error"
            hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'
            hx-delete="{deleteUrl}"
            hx-target="{cardIdRef}"
            hx-indicator=".htmx-indicator"
            hx-disabled-elt="this"
            hx-trigger="mousedown"
            hx-swap="delete swap:300ms"
            {#insert extraAttributes}{/}>

        <div class="h-5 w-5"
             hx-get="/assets/delete-cross.svg"
             hx-trigger="load"
             hx-disabled-elt="this"
             hx-target="this"
             hx-swap="innerHTML">
        </div>
    </button>
</div>