{@com.yaz.resource.domain.response.UserTableResponse res}

{#include UserResource/counters totalCount=res.totalCount /}

{#for item in res.results}

    <div id={item.cardId}>

  <details>
  <summary>
  <div class="hover:bg-[#00000014] rounded-lg p-4 bg-neutral flex-wrap flex-item flex justify-between items-center gap-2"
       id={item.cardId}>

    <img src="{item.user.picture}" alt="Avatar" class="w-10 h-10 rounded-full" referrerpolicy="no-referrer">

    <div class="tooltip tooltip-bottom"
         data-tip="{item.user.providerId}">
      <span>{item.user.provider}</span>
    </div>
    <div class="tooltip tooltip-bottom"
         data-tip="{item.user.id}">
      <span>{item.user.email}</span>
    </div>
    <span>{item.user.username}</span>
    <span>{item.user.name}</span>
    <span>{item.user.createdAt.formatDate}</span>
    <span>{item.user.lastLoginAt.formatDate}</span>

    {#include fragments/delete-btn deleteUrl=item.deleteUrl cardIdRef=item.cardIdRef/}
    </div>
    </summary>
    <div class="flex flex-col gap-2 p-2">
    <span class="text-sm">ID: {item.user.id}</span>
    <span class="text-sm">{item.user.data.encodePrettily}</span>
    </div>
  </details>

</div>
{/for}

{#include fragments/next-page.html url = res.nextPageUrl /}



