{@com.yaz.api.domain.response.ExtraChargeTableItem item}

<li id="{item.cardId}"
    class="fade-me-out fade-me-in"

        {#if item.outOfBoundsUpdate}
            hx-swap-oob="true"
        {/if}
>
    <a class="extra-charges-grid-item base-grid-cm p-1">
        <div class="extra-charges-grid-content item-grid-cm"
             @click.prevent="
            description = '{item.item.description}';
            amount = '{item.item.amount}';
            active = {item.item.active};
            currency = '{item.item.currency}';
            apt_selected = [{#for apt in item.item.apartments} '{apt.number}',{/for}];
            key = '{item.key}';
            is_edit = true;
            select_all = false;
            $dispatch('event-extra-charge-building-clean-errors');
     ">
            <div class="flex flex-col gap-2">
                <span>{item.item.description}</span>

              <div class="font-bold badge badge-outline {item.item.type ? 'badge-success' : 'badge-error'}">
                  {item.item.type}
              </div>
            </div>
            <div>{item.item.formatAmount}</div>
            <div class="flex flex-col text-sm items-center gap-1">
                {#for apt in item.item.apartments}
                    <div class="flex flex-row gap-2 justify-start text-start w-full">
                        <span class="break-normal">{apt.number}</span>
                        <span>{apt.name}</span>
                    </div>
                {/for}
            </div>
        </div>

        {#include fragments/delete-btn deleteUrl = item.deleteUrl cardIdRef = item.cardIdRef}
            {#extraAttributes}
                x-on:htmx:after-request="event.target.dispatchEvent(new CustomEvent('event-extra-charge-building-restart-after-deletion', { bubbles: true, detail: { key: '{item.key}'} }))"
            {/extraAttributes}
        {/include}
    </a>

</li>