{@com.yaz.api.domain.response.ExpenseFormDto dto}

<form id="expense-form"
      class="min-w-1/4 flex flex-col gap-2"
      hx-swap="outerHTML"
      hx-indicator=".htmx-indicator"
        {#if dto.isEdit}
            hx-patch="/api/expenses/{dto.key}"
        {#else}
            hx-post="/api/expenses/{dto.key}"
        {/if}
        {#if dto.clearForm}
            hx-swap-oob="true"
        {/if}
      data-te-validation-init
      script="init set @data-te-validated to 'true'"
>

    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}"
           script="init set @data-te-validation-state to invalid"/>

    <cm-form-input
            class=""
            id="expenseDescriptionField"
            name="expenseDescription"
            maxlength="100"
            placeholder="Descripción"
            value="{dto.description}"
            input-error="{dto.descriptionFieldError}"
    >

    </cm-form-input>

    <cm-form-input
            class=""
            id="expenseAmountField"
            name="expenseAmount"
            type="number"
            min="1"
            maxlength="10"
            step=".01"
            maxlength="100"
            placeholder="Monto"
            value="{dto.amount}"
            input-error="{dto.amountFieldError}"
    >

    </cm-form-input>

    <label class="label gap-4 w-full">
        <span class="label-text">Moneda</span>
        <select class="select select-bordered w-full" name="expenseCurrency">
            {#each GLO_CURRENCIES}
                <option value="{it}"
                        {#if dto.currency == it}
                            selected
                        {/if}
                >{it}</option>

            {/each}
        </select>
    </label>

    <label class="label gap-4 w-full">
        <span class="label-text">Tipo de Gasto</span>
        <select class="select select-bordered w-full" name="expenseType">
            {#each GLO_EXPENSE_TYPES}
                <option value="{it}"
                        {#if dto.type == it}
                            selected
                        {/if}
                >{it}</option>
            {/each}
        </select>
    </label>

    {#if dto.generalError}
        <span class="text-red-500 text-xs">{dto.generalError}</span>
    {/if}

    <div class="p-2 flex flex-row gap-4">
        <button class="btn btn-primary">
            {#if dto.isEdit}
                Editar
            {#else}
                Agregar
            {/if}
        </button>

        <button class="btn btn-neutral" type="button"
                hx-get="/api/expenses/form/new/{dto.key}"
                hx-swap="none"
        >
            Limpiar
        </button>
        <img class="htmx-indicator white-filter" src="/assets/bars.svg" alt="spinner">
    </div>
</form>

{#if dto.tableItem}

    {#if dto.tableItem.addAfterEnd}
        <div id="expenses-table-item-grid" hx-swap-oob="beforeend">
                {#include ExpenseResource/item item = dto.tableItem /}
        </div>
    {#else}
            {#include ExpenseResource/item item = dto.tableItem /}
    {/if}
{/if}

{#if dto.counters}
        {#include ExpenseResource/counters dto = dto.counters /}
{/if}