{@java.util.List<com.yaz.api.domain.response.ExpenseTableItem> list}

<div class="max-w-3/5">

    <div class="expenses-grid-header base-grid-cm p-2 font-bold">
        <span>Descripción</span>
        <span>Monto</span>
        <span>Tipo</span>
        <span>Acciones</span>
    </div>
    <div id="reserve-funds-expenses-table-item-grid">
        {#for item in list}
            {#if item.item.reserveFund == true}
                    {#include ExpenseResource/item item = item /}
            {/if}
        {/for}
    </div>

    <ol type="1" class="list-decimal custom-hover" id="expenses-table-item-grid">

        {#for item in list}
            {#if item.item.reserveFund == false}
                {#include ExpenseResource/listItem item = item /}
            {/if}
        {/for}
    </ol>
</div>