{@com.yaz.api.domain.response.ExpenseTableItem item}

<div class="expenses-grid-item base-grid-cm
{#if item.item.reserveFund == false}
    hover:alert-info
{/if}
fade-me-out fade-me-in"
     id="{item.cardId}"
        {#if item.outOfBoundsUpdate}
            hx-swap-oob="true"
        {/if}
>

    <div class="expenses-grid-content item-grid-cm p-1"
        {#if item.item.reserveFund == false}
            @click.prevent="
            is_edit = true;
            key = '{item.key}';
            description = '{item.item.description}';
            amount = '{item.item.amount}';
            currency = '{item.item.currency}';
            expenseType = '{item.item.type}';
            "
        {/if}
    >
        <div class="flex"><span>{item.item.description}</span></div>
        <div class="flex justify-end"><span class="text-end">{item.item.formatAmount}</span></div>
        <div>{item.item.type}</div>
    </div>

    <div class="flex flex-row gap-2 justify-center p-1">
        {#if item.item.reserveFund == false}

        <button class="btn-sm btn btn-circle btn-outline btn-error"
                hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'
                hx-delete="{item.deleteUrl}"
                hx-target="{item.cardIdRef}"
                hx-indicator=".htmx-indicator"
                hx-disabled-elt="this"
                hx-trigger="click"
                hx-swap="delete swap:300ms"
                hx-on:htmx:after-request="event.target.dispatchEvent(new CustomEvent('event-expense-form-restart-after-deletion', { bubbles: true, detail: { key: '{item.key}'} }))"
        >
            <div hx-get="/assets/delete-cross.svg"
                 hx-trigger="load"
                 hx-target="this"
                 hx-swap="outerHTML">

            </div>
        </button>

        {#else}
        <div style="height: 2rem">

        </div>
        {/if}

    </div>

</div>